@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Chat";
}
@*<div class="container">*@
@*    <input type="text" id="message" />*@
@*    <input type="button" id="sendmessage" value="Send" />*@
@*    <input type="hidden" id="displayname" />*@
@*    <ul id="discussion"></ul>*@
@*</div>*@
<section class="content-header">
    <h1>@ViewBag.Title</h1>
</section>
<!-- Main content -->
<section class="content">
    <!-- Info Boxes -->
    <div class="row">
        <div class="col-md-12">
            <!-- DIRECT CHAT PRIMARY -->
            <div class="box box-primary direct-chat direct-chat-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Direct Chat</h3>

                    <div class="box-tools pull-right">
                        <span data-toggle="tooltip" title="3 New Messages" class="badge bg-light-blue">3</span>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages">
                    </div>
                    <!--/.direct-chat-messages-->
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="input-group">
                        <input type="text" name="message" id="message" placeholder="Type Message ..." class="form-control">
                        <input type="hidden" id="displayname" />
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary btn-flat" id="sendmessage">Send</button>
                        </span>
                    </div>
                </div>
                <!-- /.box-footer-->
            </div>
            <!--/.direct-chat -->
        </div>
        <!-- /.col -->
    </div>
</section>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var chat = $.connection.chatHub;
            chat.client.sendPrivateMessage = function(fullName, message, dateNow, senderOrReceiver) {
                $('.direct-chat-messages').append(htmlSendMessage(fullName, message, dateNow, senderOrReceiver));
            }
            // Get the user name and store it to prepend to messages.
//            $('#displayname').val(prompt('Enter your name:', ''));
            // Set initial focus to message input box.
//            $('#message').focus();
            // Start the connection.
            $.connection.hub.start().done(function () {
                registerEvents(chat);
                $('#sendmessage').click(function () {
                    // Call the Send method on the hub.
                    chat.server.sendPrivateMessage(2, $('#message').val());
                    // Clear text box and reset focus for next comment.
                    $('#message').val('').focus();
                });
            });
        });
        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }

        function registerEvents(chat) {
            var fullName = "@ViewBag.FullName";
            var userId = @ViewBag.UserId;
            $('#displayname').val(2);
            chat.server.connect(fullName, userId);
        }

        function htmlSendMessage(fullName, message, dateNow, senderOrReceiver) {
            var tpl =
                '<div class="direct-chat-msg ';
            if (senderOrReceiver === 'sender') {
                tpl += 'right';
            }

            tpl += '"><div class="direct-chat-info clearfix">';
            if (senderOrReceiver === 'sender') {
                tpl += '<span class="direct-chat-name pull-right">' + fullName + '</span>';
//                    '<span class="direct-chat-timestamp pull-left">' + dateNow + '</span>';
            } else {
                tpl += '<span class="direct-chat-name pull-left">' + fullName + '</span>';
//                    '<span class="direct-chat-timestamp pull-right">' + dateNow + '</span>';
            }
                
            tpl += '</div>' +
                    '<img class="direct-chat-img" src="~/Content/img/profile.png" alt="Message User Image">' +
                    '<div class="direct-chat-text">' + message + '</div>' +
                    '</div>';

            console.log(tpl);
            return tpl;
        }
    </script>
}